<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Our Application User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>Hello</h1>
  <p>{{foo}}</p>
</body>

</html>